<h2>Fill Out this Form</h2>
<form action="/hello" method="POST" enctype="multipart/form-data" >
    <img src="./static/image.jpg" height="20" width="20">
    <br/>
    <!--This renders the textbox that is taken and sent as greet -->
    A Greeting: <input type="text" name="greet"> 
    <br/>
    <!--This renders the textbox that is taken and sent as name -->
    Your Name: <input type="text" name="name">
    <br/>
    Your Image: <input type="file" name="myfile" accept="image/*">
    <br/>
    <input type="submit">
</form>